<div id="app">
    <h1 v-for="product in products">{{product}} body parts demo </h1>
            
</div>

<script src="https://unpkg.com/vue"></script>
<script>
    const app = new Vue({
        el:"#app",
        data: {
            products : [
                "feets",
                "arms",
                "legs"
         ]}
    })
</script>
